# Stop tracking R command history
.Rhistory

# Stop tracking datasets (usually big files)
*.csv
data
*.dat

# Stop tracking elvira program
elvira
Elvira.jar
first-steps
manual

# Stop tracking gephi folder
gephi*

# Stop tracking weka folder
weka*

# Stop tracking pycache
__pycache__
*.pyc

# Stop tracking compressed files
*.zip
*.mat
*.pkl

# Stop tracking latex aux files
*.log
*.aux

# Stop tracking octave-workspace
octave-workspace

# Stop tracking PDFs
*.pdf

# Stop tracking backup files
*.bak
